<div class="sidebar">
    
    <h4>Welcome {{Buyer}}! <small>[<a href="/?route=profile/logout">Logout</a>]</small></h4>
    
    <div>
        <strong>Funds: $ <label id="cart-funds">{{FUNDS}}</label></strong>
    </div>
    
    <div class="cart-area">
       <strong>Cart Details</strong>
       <table width="100%">
           <thead>
                <tr>
                    <th align="left" width="*">Description</th>
                    <th width="80">Item Price</th>
                    <th width="120">Qty</th>
                    <th width="80">Subtotal</th>
                </tr>
            </thead>
            <tbody id="cart-items">
            </tbody>
            <tfoot>
                    <tr>
                        <th colspan="3" align="right">Total:</th>
                        <th align="right" style="border-top:1px solid #000;" id="cart-total">$ 0.00</th>
                    </tr>
            </tfoot>
        </table>
    </div>
    <form method="POST" action="" id="checkout-form" >
    <div class="shipping-area">
        <strong>Shipping Details</strong>
        <div>
            {{SHIPPING_OPTIONS}}
        </div>
    </div>

    <button class="checkout-button">Check Out</button>
    </form>
</div>