<ul class="product-list">
    <!-- <li class="col-2">
        <img src="https://images-na.ssl-images-amazon.com/images/I/81xQBb5jRzL._SY355_.jpg" alt="Apple" />
        <h3 class="product-description">Apple</h3>
        <a href="/?route=product/view/1"><button class="product-view">View</button></a>
        <button class="product-add-cart">Add to Cart</button>
    </li>
    <li class="col-2">
        <img src="https://target.scene7.com/is/image/Target/GUEST_48ef432f-09f1-47ac-9b07-99a5540a908e?wid=488&hei=488&fmt=pjpeg" alt="Beer" />
        <h3 class="product-description">Beer</h3>
        <a href="/?route=product/view/2"><button class="product-view">View</button></a>
        <button class="product-add-cart">Add to Cart</button>
    </li>
    <li class="col-2">
        <img src="https://target.scene7.com/is/image/Target/GUEST_7fc0cb08-5552-41ce-94c7-ab075a048a03?wid=488&hei=488&fmt=pjpeg" alt="Water" />
        <h3 class="product-description">Water</h3>
        <a href="/?route=product/view/3"><button class="product-view">View</button></a>
        <button class="product-add-cart">Add to Cart</button>
    </li>
    <li class="col-2">
        <img src="https://az836796.vo.msecnd.net/media/image/product/en/medium/0006810000580.jpg" alt="Cheese" />
        <h3 class="product-description">Cheese</h3>
        <a href="/?route=product/view/1"><button class="product-view">View</button></a>
        <button class="product-add-cart">Add to Cart</button>
    </li> -->
    {{Products}}

</ul>